<section id="card">
    <div class="form-container">
        <h2>Sign In</h2>
        <form (submit)="onSignin(signinForm)" #signinForm="ngForm" *ngIf="!isLoading">
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <span class="error" *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email.</span>
            <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required>
            <span class="error" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a valid password.</span>
            <br>
            <button mat-flat-button color="primary" type="submit" *ngIf="!isLoading">Sign In</button>
        </form>
        <br>
        <p>Don't have an account? <a routerLink="/auth/signup">Sign Up</a> here</p>
    </div>
</section>
