.Button {
    background-color: transparent;
    border: none;
    color: #222;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px 12px;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.Accent {
    background-color: #fdcb6e;
}

.Success {
    color: #00b894;
}

.Danger {
    color: #d63031;
}
